* {
    margin:0; padding:0;
  }
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }
  header .headline{
    font-size: 32px;
  }
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    /* display: inline-block; */
    margin: 0 20px;
  }

  .main-contents {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guide-sentence {
    text-align: center;
  }

  .apply-block {
    margin-top: 30px;
    text-align: center;
  }

  .apply-button {
    margin: 0 auto;
  }

  